.App {
 
 
}

h2{
  text-align: center;
  font-size:xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #61dafb;
  border-radius: 20px;
  border: solid;
  


}
.container{
  text-align: end;
  display: flex;
  width: 250px;
 padding: 40px
  
  
}
#home{
  text-decoration: none;
  color: black;
  text-align: center;
 
}
#listado{
  margin-left: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  


}
#random{
  margin-left: 30px;
  text-decoration: none;
  color: black;
  text-align: center;
  

}
#crearCerveza{
  margin-left: 40px;
  text-decoration: none;
  color: black;
  text-align: center;
}
.containerDetail{
  text-align: center;
  margin-top: 100px;
  justify-content: center;
  
  

}

.listBeers {

  margin: 70px;
  border-bottom: solid;
  column-count: 2;
  
  
}
#nameBeer{
  text-align: left;
  margin-left: -400px;
  
}
.details{
  justify-content: center;


}
.beerDetails{
  
  margin-left: 400px;
}

.form{
  padding: 50px;
  margin-left: 50px;
  
  
  
}
.controls{

  width: 100%;
  padding: 10px;
  border-radius:20px;
  margin-bottom: 16px;
  
 
}


#nombre{
font-weight: bold;

}
#eslogan{
  font-weight: bold;
}
#descripcion{
  font-weight: bold;
}
#first_brewed{
  font-weight: bold;
}

#brewers_tips{
  font-weight: bold;
}

#attenuation_level{
  font-weight: bold;
}
#contribuido_por{
  font-weight: bold;
}

.boton{

  margin-left: 400px;
  
  width: 50%;
  border-radius: 30px;
  background: lightskyblue;
  color: white;
  font-size: 20px;
  padding: 10px 30px; 
}
.controlsDescripcion{

  width: 90%;
  padding: 50px;
  border-radius:20px;
  margin-bottom: 16px;
  

}

h1{
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
